* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.hero-bg {
  position: absolute;
  inset: 0;
  background-image: url('../../../frontend/public/hero.png');
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.25;
  z-index: 1;
}

.hero-overlay {
  background-color: rgba(0, 0, 0, 0.65);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  /* opacity: 1;
  z-index: 2; */
}

.hero h1 {
  color: #fff;
  font-size: 3rem;
  margin-bottom: 15px;
  z-index: 2;
  opacity: 1;
}

.hero p {
  color: #ddd;
  font-size: 1.2rem;
  margin-bottom: 30px;
  opacity: 1;
  z-index: 2;
}

.btn-primary {
  background-color: #c62828;
  color: #fff;
  padding: 14px 28px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  opacity: 1;
  z-index: 2;
  transition: background 0.3s;
}

.btn-primary:hover {
  background-color: #a81f1f;
}


@media (max-width: 768px) {
  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1rem;
  }
}
