@import "./variables.css";

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BASE 10px */
html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-main);
  font-size: var(--fs-base);

  background: var(--color-bg);
  color: var(--color-text);

  line-height: 1.5;
}


